# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/
env/
.env
*.bak
*.swp

# Node / Frontend
node_modules/
dist/
.DS_Store
*.log

# IDEs
.vscode/
.idea/

# Database
*.sqlite3
alembic/versions/*.pyc

# Local Storage (uploaded files)
storage/
backend/storage/

# OS
Thumbs.db
ehthumbs.db
Desktop.ini

README.md

